html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
        font-family: "Tiny5", sans-serif;
        h1 {
            font-size: 60px;
            text-align: center;
          }
          
          p,
          li,
          a {
            font-size: 24px;
            line-height: 2;
            letter-spacing: 2px;
          }

          background-color: #00539f;

  }


  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }